<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    
    <!-- App configuration -->
    <appSettings>
        <add key="DbConnection" value="Host=localhost; Database=tourplanner; Username=postgres; Password=trust" />
        <add key="TemplateDirectory" value="C:\Users\inesp\OneDrive - FH Technikum Wien\INFORMATIK\Semester 4\SWEN2\project\TourPlanner\Templates" />
        <add key="OutputDirectory" value="C:\Users\inesp\OneDrive - FH Technikum Wien\INFORMATIK\Semester 4\SWEN2\project\TourPlanner\Templates" />
        <add key="PictureDirectory" value="C:\Users\inesp\OneDrive - FH Technikum Wien\INFORMATIK\Semester 4\SWEN2\project\TourPlanner\Pictures" />
        <add key="LogfilePath" value="C:\Users\inesp\OneDrive - FH Technikum Wien\INFORMATIK\Semester 4\SWEN2\project\TourPlanner\TourPlanner\main.log" />
        <add key="LogLayout" value="%date [%level] %message%newline"/>
        <add key="MapQuestApiKey" value="OcgNSGQp0uIf33qAFb9scHgpH7UrAiEX" />
    </appSettings>

    <!-- Log4Net configuration -->
    <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
    
        <appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
            <mapping>
                <level value="INFO" />
                <forecolor value="Green" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <forecolor value="Yellow" />
            </mapping>
            <mapping>
                <level value="ERROR" />
                <forecolor value="Red" />
            </mapping>
            <mapping>
                <level value="FATAL" />
                <foreColor value="White" />
                <backColor value="Red" />
            </mapping>
            <mapping>
                <level value="DEBUG" />
                <forecolor value="Blue" />
            </mapping>
            
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern type="log4net.Util.PatternString" value="%appSetting{LogLayout}" />
            </layout>
        </appender>
    
        <appender name="file" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="%appSetting{LogfilePath}" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="25MB" />
            <staticLogFileName value="true" />

            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="INFO" />
                <levelMax value="FATAL" />
            </filter>
            
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern type="log4net.Util.PatternString" value="%appSetting{LogLayout}" />
            </layout>
        </appender>
    
    </log4net>


</configuration>
