<configuration>
    <appSettings>
        <add key="DbConnection" value="Host=localhost; Database=tourplanner; Username=postgres; Password=trust" />
        <add key="ProgramDirectory" value="C:\Users\Samuel\Documents\FH_Docs\Semester_4\SWEN2\TourPlanner\TourPlanner" />
        <add key="OutputDirectory" value="C:\Users\Samuel\Downloads" />
    </appSettings>

    <!-- Log4Net configuration here -->

</configuration>
