<h1>Summarized Tour Report</h1>
<table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
        <th style="width: 40%; background-color: #655680;"><span style="color: #ffffff;">Tour Name</span></th>
        <th style="width: 30%; background-color: #655680;"><span style="color: #ffffff;">From - To</span></th>
        <th style="width: 10%; background-color: #655680;"><span style="color: #ffffff;">Average Time</span></th>
        <th style="width: 10%; background-color: #655680;"><span style="color: #ffffff;">Average Difficulty</span></th>
        <th style="width: 10%; background-color: #655680;"><span style="color: #ffffff;">Average Rating</span></th>
    </tr>
    </tbody>
</table>